#map { height: 500px; }
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.countryLabel{
    background: rgba(255, 255, 255, 0);
    border:0;
    border-radius:0px;
    box-shadow: 0 0px 0px;
}

/* div #buscador {
    background-color: white;
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: auto;
    height: auto;
    padding: 10px;
}

div #buscador input {
    width: 200px;
}

div #resultado {
    font-style: sans-serif;
    color: black;
    font-size: 75%;
} */